Django==3.0.2    
django-cors-headers==3.5.0    
django-crispy-forms==1.9.2  
django-formtools==2.2
django-import-export==2.3.0
django-mdeditor==0.1.18
django-reversion==3.0.8
django-six==1.0.4
django-stdimage==5.1.1